<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Number Guesser</title>
    <style>
        .hidden {
          {% if guess == number or chances < 1 %}
            display: none;
         {% endif %}
        }
    </style>
</head>



<body class="text-center">
    <h1>Welcome to Number Guesser!</h1>
    <h3>I'm thinking of a number between 1 and 100</h3>
    <h4 class="hidden">You Have {{chances}} Guesses remaining!</h4>
    <h4 class="hidden">Take a Guess!</h4>
    <div class="card w-50 m-auto mt-5">
        {% if guess == '' %}
        <div></div>
        {% elif guess == 'Not a Number' %}
        <h3 class="bg-danger text-warning rounded py-3">You didn't enter a number</h3>
        {% elif guess == number %}
        <div class="border bg-success rounded py-3">
            <h2 class="text-white">{{number}} is correct!</h2>
            <form action="/destroy_session">
                <button class="btn btn-primary mb-2">Play again!</button>
            </form>
        </div>
        {% elif chances == 0 %}
        <div>
            <form action="/destroy_session">
                <button class="btn btn-primary mb-2">Play again!</button>
            </form>
            <h3 class="bg-danger text-white rounded py-3">Sorry! You are out of Guesses!</h3>
        </div>
        {% elif guess > number %}
        <h3 class="bg-success text-white rounded py-3">Guess is Too High</h3>
        <h5>You Guessed: {{guess}}</h5>
        {% else %}
        <h3 class="bg-danger text-white rounded py-3">Guess is Too Low</h3>
        <h5>You Guessed: {{guess}}</h5>
        {% endif %}
        <form action="/game" method="POST" class="hidden">
            <input type="number" name="guessed" id="guessed">
            <br>
            <button class="btn bg-info m-5" type="submit">Guess</button>
        </form>
    </div>
</body>

</html>